<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/board.js"></script>
</head>

<body>

    <div th:insert="header.html" id="header"></div>

    <div id="container">
        <table class="table table-bordered border-primary">
            <tr>
                <td colspan="3"><div th:text="${findPost.subject}"></div></td>
            </tr>

            <tr>
                <td>작성자: <span th:text="${findPost.writer}"></span></td>
                <td>작성일: <span th:text="${#calendars.format(findPost.regdate, 'yyyy-MM-dd HH:mm')}"></span></td>
                <td>조회수: <span th:text="${findPost.count}"></span></td>
            </tr>

            <tr>
                <td colspan="3">
                    <pre><div th:text="${findPost.content}"></div></pre>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <input type="button" value="목록" class="btn btn-outline-dark"
                           th:onclick="|location.href='@{|/board?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}'|"
                    >

                    <span th:if="${nameUserDetails.equals(findPost.writer)}">
                        <input type="button" value="수정" class="btn btn-outline-dark"
                        th:onclick="|location.href='@{|/board/post/${findPost.postno}?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}'|"
                        >

                        <form th:action="@{|/board/${findPost.postno}?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}" method="post" id="delete_btn">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="삭제" class="btn btn-outline-dark">
                        </form>
                    </span>
                </td>
            </tr>
        </table>

        <!--댓글 작성-->
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i>댓글
        </div>
        <div class="card">
            <form>
                <input type="hidden" id="postno" th:value="${findPost.postno}">
                <input type="hidden" id="page" th:value="${pageMaker.criteria.page}">
                <input type="hidden" id="cntPerPage" th:value="${pageMaker.criteria.cntPerPage}">
                <div class="card-body">
                    <textarea id="content_reply" class="form-control" rows="1"></textarea>
                </div>
                <div class="card-footer">
                    <button type="button" id="btn_reply_save" class="btn btn-outline-dark">등록</button>
                </div>
            </form>
        </div>
        <br>

        <!--댓글 리스트-->
        <div class="card">
            <div class="card-header">댓글 리스트</div>
                <ul id="reply-box" class="list-group">
                    <form>
                        <li id="reply" class="list-group-item d-flex justify-content-between" th:each="reply:${replyList}">
                            <input type="hidden" id="page_del" th:value="${pageMaker.criteria.page}">
                            <input type="hidden" id="cntPerPage_del" th:value="${pageMaker.criteria.cntPerPage}">
                            <div th:text="${reply.content_reply}">댓글 내용입니다!!</div>
                            <div class="d-flex">
                                <div class="font-italic" th:text="${reply.name}"></div>&nbsp;
                                <button type="button" th:attr="onclick=|replyDelete('${reply.postno}', '${reply.id_reply}')|"
                                        th:disabled="${!nameUserDetails.equals(reply.name)}">삭제</button>
                            </div>
                        </li>
                    </form>
                </ul>
        </div>
    </div>

    <div th:insert="footer.html" id="footer"></div>

</body>
</html>