<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div th:insert="header.html" id="header"></div>

    <table>
        <tr>
            <td><div th:text="${findPost.subject}"></div></td>
        </tr>

        <tr>
            <td>작성자: <div th:text="${findPost.writer}"></div></td>
            <td>작성일: <div th:text="${#calendars.format(findPost.regdate, 'yyyy-MM-dd HH:mm')}"></div></td>
            <td>조회수: <div th:text="${findPost.count}"></div></td>
        </tr>

        <tr>
            <td>
                <div th:text="${findPost.content}"></div>
            </td>
        </tr>

        <tr>
            <td>
                <input type="button" value="목록가기" th:onclick="|location.href='@{/board/list}'|">
                <button type="button"><a th:href="@{|/board/modify/${findPost.postno}|}"><span>수정</span></a></button>
                <button type="button"><a th:href="@{|/board/remove/${findPost.postno}|}"><span>삭제</span></a></button>
            </td>
        </tr>
    </table>

    <div th:insert="footer.html" id="footer"></div>

</body>
</html>