<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>

    <div th:insert="header.html" id="header"></div>

    <div id="container">
        <table class="table table-bordered border-primary">
            <tr>
                <td colspan="3"><div th:text="${findPost.subject}"></div></td>
            </tr>

            <tr>
                <td>작성자: <span th:text="${findPost.writer}"></span></td>
                <td>작성일: <span th:text="${#calendars.format(findPost.regdate, 'yyyy-MM-dd HH:mm')}"></span></td>
                <td>조회수: <span th:text="${findPost.count}"></span></td>
            </tr>

            <tr>
                <td colspan="3">
                    <pre><div th:text="${findPost.content}"></div></pre>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <input type="button" value="목록" class="btn btn-outline-dark"
                           th:onclick="|location.href='@{|/board?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}'|"
                    >

                    <span th:if="${session.member.getName().equals(findPost.writer)}">
                        <input type="button" value="수정" class="btn btn-outline-dark"
                        th:onclick="|location.href='@{|/board/post/${findPost.postno}?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}'|"
                        >

                        <form th:action="@{|/board/${findPost.postno}?page=${pageMaker.criteria.page}&cntPerPage=${pageMaker.criteria.cntPerPage}|}" method="post" id="delete_btn">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="삭제" class="btn btn-outline-dark">
                        </form>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div th:insert="footer.html" id="footer"></div>

</body>
</html>