<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Title</title>
</head>

<body>
    <div th:insert="header.html" id="header"></div>

    <div id="container">
        <!-- 총 게시글 -->
        <p>총 게시글: <span th:text="${totalCnt}"></span></p>

        <!-- 검색 기능 -->
        <form th:action="@{/board/search}" method="get" id="searchForm">
            <input id="searchWriter" name="searchWriter" type="text" placeholder="작성자를 입력하세요.">
            <input type="submit" value="검색" class="btn btn-outline-dark">
        </form>

        <!-- 글쓰기 버튼 -->
        <a class="btn btn-outline-dark" th:href="@{/board/post}">글쓰기</a>

        <!-- 게시글 리스트 -->
        <table class="table">
            <thead class="table-light">
            <tr>
                <th id="no" width="100px" style="text-align: center;">번호</th>
                <th id="subject" style="text-align: center;">제목</th>
                <th id="writer" style="text-align: center;">작성자</th>
                <th id="createDate" style="text-align: center;">작성일</th>
                <th id="cnt" style="text-align: center;">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${boardList}" border="1">
                <td style="text-align: center;"><span th:text="${post.postno}"></span></td>
                <td style="text-align: center;">
                    <a th:href="@{|/board/${post.postno}?page=${criteria.page}&cntPerPage=${criteria.cntPerPage}|}">
                        <span th:text="${post.subject}" th:onclick="${post.count++}"></span>
                    </a>
                </td>
                <td style="text-align: center;"><span th:text="${post.writer}"></span></td>
                <td style="text-align: center;"><span th:text="${#calendars.format(post.regdate, 'yyyy-MM-dd HH:mm')}"></span></td>
                <td style="text-align: center;"><span th:text="${post.count}"></span></td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${pageMaker.prev} == true">
                    <a class="page-link"
                       th:href="@{/board(page=${pageMaker.startPage}-1, cntPerPage=${pageMaker.criteria.cntPerPage})}" tabindex="-1" aria-disabled="true">
                        Previous</a>
                </li>

                <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" th:classappend="${pageMaker.criteria.page} == ${idx} ? active : null">
                    <a class="page-link" th:href="@{/board(page=${idx},cntPerPage=${pageMaker.criteria.cntPerPage})}" th:text="${idx}">1</a></li>

                <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
                    <a class="page-link" th:href="@{/board(page=${pageMaker.endPage}+1,cntPerPage=${pageMaker.criteria.cntPerPage})}">
                        Next</a></li>
            </ul>
        </nav>
    </div>

    <div th:insert="footer.html" id="footer"></div>
</body>
</html>