#container{
    height:auto;
    width: 80%;
    margin: 100px auto;
}
#searchForm{
    float:right;
    margin-bottom: 20px;
}

#searchWriter{
    height: 38px;
    display: inline-block;
    margin-top: 5px;
}

#delete_btn{
    display: inline;
}

#form{
    width: 500px;
    margin: 0 auto;
}
<!--테이블 너비-->
th#no{
    width: 50px
}
th#subject{
    width: 500px
}
th#writer{
    width: 200px;
}
th#createDate{
    width: 240px;
}
th#cnt{
    width: 100px;
}
#join_btn{
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}
#oauthLogin a img{
    display: block;
    margin: 10px auto;
 }
 ul{
    list-style: none;
 }
#attach_list{
    list-style-image: url("/images/attach_file_icon.png");
}