<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardExample.board.mapper.BoardFileMapper">

    <!-- 파일 등록(업로드) -->
    <insert id="uploadFile">
        insert into attach_file(f_postno, file_origin_name, file_name, file_path, file_type, file_size, reg_date, delete_yn)
        values(#{f_postno},#{file_origin_name},#{file_name},#{file_path},#{file_type},#{file_size},#{reg_date},#{delete_yn})
    </insert>

    <!-- 게시글에 첨부된 파일정보 조회 -->
    <select id="getByPostno" resultType="BoardExample.board.domain.File">
        select f_id, f_postno, file_origin_name, round(file_size/1000, 1) as file_size
        from attach_file
        where f_postno=#{f_postno};
    </select>

    <!-- 게시글 수정 시 첨부파일 삭제 -->
    <delete id="deleteFile">
        DELETE FROM attach_file
        WHERE f_id=#{f_id}
    </delete>

</mapper>