<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardExample.board.mapper.BoardMapper">

    <!-- 게시글 등록 -->
    <insert id="createPost">
        insert into board (subject, content, writer, regdate, modidate, count)
        values(#{subject},#{content},#{writer},#{regdate},#{modidate},#{count})
    </insert>

    <!-- 게시글 조회 -->
    <select id="getList" resultType="BoardExample.board.domain.Board">
        select *
        from board
    </select>

    <!-- 게시글 상세보기 -->
    <select id="getByPostNo" resultType="BoardExample.board.domain.Board">
        select *
        from board
        where postno=#{postno}
    </select>

    <!-- 게시글 수정 -->
    <update id="updatePost" parameterType="BoardExample.board.domain.Board">
        update board
        set subject=#{subject},
            content=#{content},
            modidate=NOW()
        where postno=#{postno}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deletePost">
        delete
        from board
        where postno = #{postno}
    </delete>
</mapper>